div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 4rem;
  border: 1px solid gray;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

p:first-of-type {
  font-size: 2rem;
}

p:last-of-type {
  margin: 4rem 0 6rem;
}

p > button {
  margin: 0 0.2rem;
  font-size: 5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

div > button {
  padding: 1.4rem;
  width: 130px;
  font-size: 1.4rem;
  border: 1px solid gray;
  background-color: rgb(229, 229, 229);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: rgb(221, 221, 221);
  }
}
