<div class="list-panel">
  <select [formControl]="sortControl">
    <option *ngFor="let option of sortOptions" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
  <label>
    <span class="search-icon">🔍️</span>
    <input type="search" id="searchInput">
  </label>
</div>
<app-loader *ngIf="recipeList.length === 0 && !isHttpError && !noResult"></app-loader>
<div *ngIf="noResult" class="server-error">
  <p>Brak wyników <span>:(</span></p>
  <p>Nie znaleziono przepisów odpowiadających wpisanej nazwie.</p>
</div>
<ng-container *ngIf="!isHttpError; else httpErrorInfo">
  <div class="tiles">
    <app-recipe-tile *ngFor="let recipe of recipeList" [recipe]="recipe"></app-recipe-tile>
  </div>
</ng-container>

<ng-template #httpErrorInfo>
  <div class="server-error">
    <p>Coś poszło nie tak.. <span>:(</span></p>
    <p>Nie udało się pobrać danych z serwera, spróbuj ponownie później.</p>
  </div>
</ng-template>
