/* You can add global styles to this file, and also import other style files */
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2f6690;
  --primary-variant: #3a7ca5;
  --secondary: #16425b;
  --secondary-variant: #81c3d7;
  --background: #e2e6de;
}

html {
  font-size: 10px;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: var(--background);
}
